body{
   background-image: url(https://img.freepik.com/free-photo/background_53876-32169.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1600px 100px;
}
.img{
    width:200px;
    height:200px;
    margin-bottom: 20px;
    position:left;
}
{
    background-image: url(https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhaW4lMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHx8MA%3D%3D)
}
    
    

